.chart_container {
  border      : 1px #cacaca solid;
  padding     :5px;
  width       : 100%;
  text-align  : center;
  margin-top      : 10px;
  background-color: #fff;
}

.chart_title {
     font-weight  : bold;
     font-size    : 20px;
}

.menu_button_container {
   width        : 100%;
   text-align   : left;
}

.ct-label {
  font-size: 12px;
}

#page-content-wrapper {
  background-color: #fff // #0790CD
}
